
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url(dropdown.css);

/* COMMON */

body {
    font-family: 'Mulish', sans-serif;
    line-height: 0.75;
    min-width: 1000px;
    
}
a {
    text-decoration: none;
    color: black;
    outline: none;
}
a:hover, a:active {
    text-decoration: none;
    color: black;
    outline: none;

}
.invisible {
    display: none;
}
.underline {
    
}
.underline:hover {
    border-bottom: 5px solid;
}

/* HEADER */

header {
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-right: 50px;
    border-bottom: 1px solid red;
}

.promo {
    background-color: rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.promo-item {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-item a {
    color: rgb(255,255,255);
    font-size: 12px;
}
.promo span {
    color:rgb(221,83,48);
}

.header-center {
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-left: 50px;
}
header .header-center .m-logo {
    
    width: 120px;
    height: 30px;
    background-image: url(sp_20cm.png);
    /* background-position: 0 -230px ; */
    background-color: black;
    margin-left: 15px;
}
header .user {
    display: flex;
    margin-right: 15px;
    font-size: 9px;
    font-weight:  1500px;
}
header .user div a {
    margin-left: 13px;
    display: flex;
    align-items: center;

}
header .user i {
    display: block;
    width: 17px;
    height: 17px;
    background-color: black;
}
header .user span {
    margin-left:5px;
    padding: 7px 0;
    display: flex;
    align-items: center;
}
header .header-nav {
    font-size: 50px;
    font-weight: 800;
    margin-left: 50px;
    box-sizing: border-box;
    height: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.header .header-nav-list {
    display: flex;
    justify-content: left;
}
.header-nav span a {
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: -10px;
    margin: 0 10px;
    font-weight: 900;
    font-size: 36px;
}

.header-nav>span{
    margin-right: 15px;
    font-weight:900 ;
    font-size: 47px;
}
.header-nav>span:hover {
    cursor: auto;
}
.nav {
    height: 35.5px;
    margin-left: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.nav-left {
    margin-right: 22px;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
}
.nav-left span a {
    display: inline-block;
    margin: 0 7px;
    padding: 9px 0;
    font-weight: 700;
}
.nav-left .nav-btm-set {
    display: flex;
    flex-direction: column;
}
.nav-right {
    margin-right: 22px;
    padding: 8px 0;
    font-weight: 300px;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
}
.nav-right::before {
    display: inline-block;
    content: "";
    width: 1px;
    
    background-color: black;
    margin-right:12px ;
}
.nav-right span {
    margin-right: 15px;
}
.nav-right span a {
    display: inline-block;
    padding: 9px 0;
    font-weight: 100;
    
}



/*MAIN-dropdown*/
.dropdown {
    height: 330px;
}
.item-box {
    background-color: red;
    width: 103px;
    margin: 0 30px 40px 30px;
}
.item-title {
    padding: 7px 15px 0px 15px;

}
.item-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
}
.item-list li a{
    display:inline-block;
    padding: 6px 0px ;
}

/*MAIN-card*/
.card {

}
.card img{

}
.card div {

}
.card button {

}
.card button a {

} 
.card button span {

}
.card button i{

}